Sign in form


<div id='signtop'>
  <h1> Hi!</h1>
  </div>
<!-- <form action='/login' method='POST'>
  <input type="text" name="name" placeholder="Your Username Here!">
  <input type="password" name="password" placeholder="Your Password Here!">
  <input type="password" name="password_confirmation" placeholder="Confirm Your Password!">
  <input type="submit">
</form>
 -->

<%= form_for User.new do |f| %>
  <%= f.text_field :name %>
  <%= f.text_field :password %>
  <%= f.text_field :password_confirmation %>
  <%= f.submit %>
<% end %>
